@tailwind base;
@tailwind components;
@tailwind utilities;

/* Di bagian <style> atau file CSS terpisah */
/* tr:hover {
    background-color: #f9fafb;
}

.user-checkbox:checked {
    background-color: #3b82f6;
    border-color: #3b82f6;
}

#applyBulkAction:disabled {
    opacity: 0.5;
    cursor: not-allowed;
} */